{% for article in articles %}
{#    <ul class="list-group">#}
{#<a href="/article/{{ article}}">#}

    {{ article.id}}
{#</a>#}
{#    </ul>#}

{% endfor %}

{#<ul class="list-group">#}


{#    <a href="/info/R401/fr/boutique/rayon/2">#}
{#        <li class="list-group-item text-center clickable top-produit">#}
{#            <img src="/info/R401/images/produits/romanesco.jpg" style="height: 40px;">#}
{#            <p class="top-produit">Chou Romanesco<br><i>5000#}
{#                vente(s)</i>#}
{#            </p>#}
{#        </li>#}
{#    </a>#}


{#</ul>#}
