{% extends 'base.html.twig' %}

{% block title %}New Usager{% endblock %}

{% block body %}
<div class="card col-md-6 offset-3">

    <div class="card-header">
        <a class="btn-back text-secondary" href="">
            <i class="fas fa-2x fa-arrow-circle-left"></i>
        </a>
        <h1>
            <i class="fas fa-user-plus"></i>
            Inscription
        </h1>
    </div>

    <div class="card-body">
{#    le formulaire d'inscription : #} {{ include('usager/_form.html.twig') }}

        <div class="col-md-12 text-right">
            <p>
                Déjà client ?
                <a class="btn btn-secondary btn-" type="submit" href="">
                    Connexion
                </a>
            </p>
        </div>
    </div>

</div>

{% endblock %}
